



.deepfakes{
    background:#8b8b8b;
    padding: 40px;
    max-width: 1200px;
    margin: 40px auto;
    border-radius:2px;
    box-shadow:0 4px 5px 4px rgb(71, 71, 71);
}











/* Für Team.html */
.Team {
    display: block;
    width: 40%;
    padding: 2%;
	margin: auto; 
}
@media screen and (max-width: 650px) {
    .Bilder {
        width: 100%;
        display: initial;
    }
}
.card {
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container::after,
.Team::after {
    content: "";
    clear: both;
    display: initial;
}
.title {
    color: grey;
}



.Titel {
    text-align: center;
    padding: 2%;
}
.line {
    width: 80%;
    align-self: center;
    background-color: #3b3b3b;
}